<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/errorpage/error_view.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorpage/error_view.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/errorpage/error_view.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ForwardSerclet</display-name>
    <servlet-name>ForwardSerclet</servlet-name>
    <servlet-class>com.servlet.ForwardSerclet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardSerclet</servlet-name>
    <url-pattern>/ForwardSerclet</url-pattern>
  </servlet-mapping>
</web-app>